[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
tortoise-orm = {extras = ["asyncpg"], version = "*"}
aerich = "*"
python-dotenv = "*"
limeutils = "*"
icecream = "*"
aiomysql = "*"
fastapi-users = {ref = "develop", git = "file:///home/enchance/Stash/Development/repos/fastapi-users/.git"}

[dev-packages]
pytest = "*"
pytest-sugar = "*"
requests = "*"

[requires]
python_version = "3.8"
