[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
tortoise-orm = {extras = ["asyncpg"], version = "*"}
aerich = "*"
python-dotenv = "*"
limeutils = "*"
icecream = "*"
aiomysql = "*"
jinja2 = "*"
email-validator = "*"
fastapi-users = {extras = ["tortoise-orm"], version = "*"}

[dev-packages]
pytest = "*"
pytest-sugar = "*"
requests = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
