[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-sugar = "*"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
tortoise-orm = {extras = ["asyncpg"], version = "*"}
aerich = "*"
python-dotenv = "*"
limeutils = "*"
icecream = "*"
fastapi-users = {git = "file:///home/enchance/stash/Development/repos/fastapi-users/.git", ref = "develop"}

[requires]
python_version = "3.8"
