<!DOCTYPE html>
<html lang="en">
<head>
    <title>Foo</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>Thanks for signing up to <strong>{{ site_name }}</strong>. Click the link to change your
       password: <a href="{{ url }}">{{ fake_code }}</a>.</p>
</body>
</html>
